body {
    width: 75%;
    margin: 0 auto;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
}

h1 {
    font-size: x-large;
    text-align: center;
}

h2 {
    text-align: center;
    color: #1a73e8;
    font-family: 'PT Mono', monospace;
}

h3 {
    text-align: center;
    font-size: x-large;
}

h4 {
    text-align: center;
    font-size: x-large;
}

h5 {
    text-align: center;
    font-size: larger;
}
p {
    font-size: large;
    padding-left: 20px;
    padding-right: 20px;
    text-align: justify;
}

.menu-hamburger {
    display: none;
}

ul {
    padding: 0;
    margin: 0;
    position: fixed;
    top: 0;
    width: 75%;
    height: 75px;
    display: flex;
    align-items: center;
    background-color: #343a41;
    list-style-type: none;
    font-size: x-large;
    font-family: 'Lancelot', cursive;
}

ul li {
     padding: 0 1rem;
 }

ul li:first-child {
    flex-grow: 1;
}

ul li a {
    cursor: pointer;
    text-decoration: none;
    color: #ffffff;
}

.media {
    max-width: 300px;
}

.affiche-movie {
    border-radius: 8px;
    height: 360px;
    width: 260px;
}

.infos {
    margin-top: 90px;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 5px 5px 10px 10px;
}

.festival {
    background-color: #f8f9fa;
    margin-top: 30px;
    padding: 5px 5px 30px 10px;
}

.content {
    display: flex;
    align-items: center;
}

.news {
    padding: 5px 5px 30px 10px;
}

.container-news {
    display: flex;
}

.program-movies {
    background-color: #f8f9fa;
    padding-top: 15px;
    padding-bottom: 40px;
}

.date {
    padding-top: 5px;
}

.title-date:hover{
    cursor: pointer;
    text-decoration: underline;
    color: #1a73e8;
}

.group-card {
    display: flex;
    justify-content: space-evenly;
    flex-wrap: wrap;
    padding-top: 15px;
    opacity: 1;
    max-height: 2000px;
    transition: opacity 1s, max-height 0.50s ease-in;
}

.close {
    max-height: 0;
    transition: max-height 0.90s ease-out, opacity 1.5s;
    overflow: hidden;
    opacity: 0;
}

.movie-card {
    background-color: #ffffff;
    display: flex;
    flex-direction: column;
    align-items: center;
    margin-left: 20px;
    padding: 0 20px 0 20px;
    width: 300px;
    padding-bottom: 15px;
    border-radius: 8px;
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0);
    transition: 0.8s;
    margin-bottom: 40px;
}

.movie-card p {
    text-align: center;
}

.movie-infos {
    display: none;
}

.movie-infos p {
    font-size: small;
}

.movie-infos .btns-movie {
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: space-around;
}

.movie-card:hover  {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.29);
}

.movie-card:hover h4{
    display:none;
}

.movie-card:hover .movie-infos {
    display: flex;
    flex-wrap: wrap;
}

.btn-reservation {
    text-align: center;
    background-color: #1a73e8;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 11px 20px;
    text-decoration: none;
    width: 70px;
}

.btn-allocine {
    text-align: center;
    background-color: #ffcc00;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 11px 20px;
    text-decoration: none;
    width: 70px;
}

.modal {
    opacity: 0.95;
    background-color: #f1f3f3;
}

.modal a {
    text-decoration: none;
    color: #1a73e8;
}

form {
    display: flex;
    flex-flow: column wrap;
    align-items: center;
    padding-bottom: 20px;
}

.group-form {
    margin-top: 15px;
    width: 100%;
    display: flex;
    justify-content: space-between;
    max-width: 250px;
    padding-bottom: 25px;
}

label {
    font-size: large;
}

input[type="text"], input[type="email"], input[type="tel"], textarea, select {
    border-radius: 10px;
    border: 1px solid #1a73e8;
    height: 25px;
    width: 170px;
    font-size: 1em;
}

input[type="submit"] {
    margin-top: 15px;
    text-align: center;
    background-color: #1a73e8;
    border-radius: 30px;
    cursor: pointer;
    color: #ffffff;
    font-size: 17px;
    padding: 11px 20px;
    text-decoration: none;
    text-shadow: 0 1px 0 #1a73e8;
    width: 100px;
}

footer {
    background-color: #343a41;
    height:50px;
    display: flex;
    color: #ffffff;
    justify-content: space-evenly;
}

.footer-link {
    color: #ffffff;
    text-decoration: none;
}

.footer-link:hover {
    color: #1a73e8;
}

/*Smartphones (portrait and landscape)*/
@media only screen and (min-device-width : 320px) and (max-device-width : 480px) {
    /* Styles pour cette Media Queries */
    body {
        width: 100%;
    }

    ul {
        width: 100%;
        height: 45px;
        justify-content: space-evenly;
    }

    ul li:first-child {
        display: none;
    }

    ul li {
        font-size: 17px;
    }

    h1 {
        font-size: large;
    }

    h2 {
        font-size: x-large;
    }

    h3 {
        font-size: x-large;
    }

    h4 {
        font-size: x-large;
    }

    h5 {
        font-size: larger;
    }

    p {
        padding: 5px 15px 0 20px;
        font-size: large;
    }

    .infos {
        margin-top: 45px;
        flex-direction: column;
        padding-top: 30px;
    }

    .container-news {
        flex-direction: column;
        align-items: center;
    }

    .media {
        max-width: 90%;
    }

    .content {
        flex-direction: column;
    }

    .group-card {
        max-height: 10000px;
    }

    .close {
        max-height: 0;
    }

    .movie-card {
        width: 70%;
    }

    .movie-card p {
        font-size: medium;
    }

    .affiche-movie {
        width: 80%;
        height: auto;
    }

    .movie-infos p {
        font-size: small;
    }

    .btn-allocine, .btn-reservation {
        width: 50px;
        height: 16px;
        font-size: medium;
    }

    .group-form {
        max-width: 75%;
    }

    .modal {
        width: 100%;
    }

    .modal form {
        align-items: flex-start;
    }

    label {
        font-size: medium;
    }

    input[type="text"], input[type="email"], input[type="tel"], textarea, select {
        height: 20px;
        font-size: 1em;
    }

    footer {
        height: 115px;
        align-items: center;
        flex-direction: column;
    }

    footer p {
        font-size: small;
    }
}

/*iPads (portrait and landscape)*/
@media only screen and (min-device-width : 768px) and (max-device-width : 1024px) {
    body {
        width: 100%;
    }

    ul {
        width: 100%;
        height: 70px;
        justify-content: space-evenly;
    }

    ul li:first-child {
        display: none;
    }

    ul li {
        font-size: 30px;
    }

    h2 {
        font-size: 35px;
    }

    h3 {
      font-size: 30px;
    }

    h4 {
        font-size: 30px;
    }

    p {
        font-size: 25px;
    }

    .media {
        max-width: 50%;
    }

    .infos {
        flex-direction: column;
        padding-top: 20px;
    }

    .content {
        flex-direction: column;
    }

    .container-news {
        flex-direction: column;
        align-items: center;
    }

    footer {
        height: 150px;
        align-items: center;
        flex-direction: column;
        padding-top: 10px;
        padding-bottom: 10px;
    }

    footer p {
        font-size: 20px;
    }
}
