<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=0" />
    <link href="../assets/css/style.css" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css?family=Lancelot|PT+Mono&display=swap" rel="stylesheet">
    <link rel="apple-touch-icon" sizes="180x180" href="../assets/img/favicon_io/apple-touch-icon.png">
    <link rel="icon" type="image/png" sizes="32x32" href="../assets/img/favicon_io/favicon-32x32.png">
    <link rel="icon" type="image/png" sizes="16x16" href="../assets/img/favicon_io/favicon-16x16.png">
    <link rel="manifest" href="../assets/img/favicon_io/site.webmanifest">
    <title>CGU | Festival Films en Plein Air</title>
</head>
<body>
<ul>
    <li><a href="../index.html#infos">Le Festival les Films de Plein Air</a></li>
    <li><a href="../index.html#festival">Festival</a></li>
    <li><a href="../index.html#news">Actualités</a></li>
    <li><a href="../index.html#program">Programme</a></li>
    <li><a href="../index.html#contact">Contact</a></li>
</ul>
<div class="cgu">
    <h1>Conditions générales d'utilisation</h1>
    <div class="cgu-content">
        <h2>Mentions légales</h2>
        <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Mauris ac turpis a nisl varius sagittis in scelerisque est. Morbi lacinia aliquet arcu, dictum pharetra libero posuere eget. In orci dui, suscipit ac elementum a, consequat placerat felis. Suspendisse ultrices velit turpis, non maximus odio semper ut. Fusce tempor ipsum sit amet arcu faucibus, ac tristique nisi auctor. Ut ultricies est at dui luctus, malesuada tincidunt neque finibus. Fusce vel pulvinar nulla, non tristique leo. Quisque dapibus scelerisque enim id euismod. Phasellus id fermentum neque. Class aptent taciti sociosqu ad litora torquent per conubia nostra, per inceptos himenaeos. Nam in lacus nec odio tempus tincidunt eu sed nulla. Sed finibus pulvinar felis. Pellentesque sit amet lacus lacus. Etiam arcu lectus, egestas eget dolor non, semper pulvinar nibh. Sed accumsan vehicula pretium. Pellentesque vel ultrices leo, eu mollis tortor.</p>
        <p>Nullam quis ex et lectus aliquam vehicula ut quis ligula. Praesent nisi magna, ornare at pellentesque non, porttitor at purus. Donec semper eros nec leo commodo, id tempus elit sollicitudin. Aliquam pharetra sodales ligula, a vehicula risus sollicitudin et. Fusce sed risus sit amet tellus dapibus laoreet non quis lorem. Fusce blandit lacinia laoreet. Ut congue in purus ac finibus. Donec cursus suscipit maximus. Fusce at auctor lacus. In malesuada lacus diam. Sed id urna nec enim vehicula mattis at vitae orci. Suspendisse blandit laoreet placerat. Fusce vehicula tellus ut lacus molestie eleifend. Sed iaculis aliquam nibh, vitae pharetra velit feugiat nec. Aliquam a rutrum mauris, vitae dignissim nisi.</p>
        <h2>Collecte des données</h2>
        <p>Mauris in enim in nibh tincidunt finibus. Aliquam laoreet dolor vel metus porttitor, at maximus diam posuere. Donec molestie libero vel dui pulvinar sollicitudin. Nam consectetur dignissim massa ac commodo. Vivamus pellentesque nunc nec posuere aliquam. Quisque et commodo dolor, vitae cursus odio. Suspendisse lacinia tortor eget euismod volutpat. Nulla maximus venenatis urna maximus viverra. Vivamus nec libero non tellus malesuada elementum at vitae dolor. Nam dictum vel nisl vel cursus.</p>
        <p>Vivamus quis vulputate tellus. Aenean hendrerit eu nisl dapibus suscipit. Quisque ornare commodo arcu eget ultricies. Aenean sit amet nisi elit. Nulla varius massa ultricies risus dapibus, id elementum quam convallis. Morbi sit amet accumsan lorem. Vivamus non neque neque. Suspendisse tristique libero eu nisi tempor, ac faucibus ex convallis. Ut laoreet, erat nec malesuada rutrum, eros velit commodo risus, vel dictum tellus justo vitae diam. Curabitur vulputate consequat lacinia. Aliquam accumsan pretium lorem, ac luctus orci semper eu. Mauris non erat quis dolor auctor feugiat euismod ac leo. Phasellus vulputate bibendum augue, ut bibendum mauris interdum quis. Suspendisse non dui ornare magna malesuada varius id elementum felis. Pellentesque sagittis massa quis rutrum fermentum.</p>
    </div>
</div>
<footer>
    <p><a target="_blank" class="footer-link" href="../templates/cgu.html">CGU</a></p>
    <p>Association "Les Films de Plein Air"</p>
    <p>©Copyrights - <a target="_blank" class="footer-link" href="https://geoffroydutot.fr">Geoffroy Dutot</a></p>
</footer>
</body>
</html>